<!--<link rel="apple-touch-icon-precomposed" href="v{{ version }}/img/icon-57x57.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="v{{ version }}/img/icon-72x72.png">-->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="v{{ version }}/img/icon-114x114.png">
<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="v{{ version }}/img/icon-144x144.png">-->
