<!doctype html>
<html manifest="manifest.appcache">
	<head>
		<meta charset=utf-8>
		<title>Telepathy</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<!--<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">-->

		{% include "fragments/ios-icons.html" %}
		{% include "fragments/ios-startup-images.html" %}

		<link rel="stylesheet" href="v{{ version }}/css/telepathy.css">
	</head>

	<body>
		<div class="modal" id="settings">
			<h2>Settings</h2>

			<fieldset>
				<div>
					<label for="default-username">Default Username</label>
					<input name="default-username" id="default-username" placeholder="myname">
				</div>

				<div>
					<label for="shared-secret">Shared Secret</label>
					<input type="password" name="shared-secret" id="shared-secret"
					       placeholder="It was a dark and stormy night, not fit for man nor beast...">
				</div>

				<div>
					<label>Save Shared Secret?</label>
					<label class="radio">
						<input type="radio" name="save-secret" value="yes"> Yes
					</label>

					<label class="radio">
						<input type="radio" name="save-secret" value="no" checked> No
					</label>
				</div>

				<div>
					<label for="default-length">Default Length</label>
					<select name="default-length" id="default-length"></select>
				</div>

				<div>
					<label for="default-index">Default Index</label>
					<select name="default-index" id="default-index"></select>
				</div>

				<div>
					<label for="algorithm">Algorithm</label>
					<select name="algorithm" id="algorithm">
						<option value="SHA224">SHA-224</option>
						<option value="SHA256" selected>SHA-256</option>
						<option value="SHA384">SHA-384</option>
						<option value="SHA512">SHA-512</option>
					</select>
				</div>
			</fieldset>

			<div class="controls">
				<button class="save-settings modal-close primary">Save</button>
				<button class="reset-settings modal-close">Cancel</button>
			</div>
		</div>

		<div class="modal-bg"></div>

		<div class="content-wrapper">
			<div class="content">
				<h1>Telepathy<span class="version">v{{ version }}</span><small> - A telepathic password manager.</small></h1>
				<input id="domain" type="url" autocapitalize="off" autocorrect="off" placeholder="Example / example.com">
				<input id="password" readonly>
				<fieldset>
					<div>
						<label for="index">Password Index</label>
						<select id="index"></select>
					</div>

					<div>
						<label for="length">Password Length</label>
						<select id="length"></select>
					</div>

					<div>
						<label>Lax Mode</label>
						<label class="radio">
							<input type="radio" name="lax" value="yes"> Yes
						</label>

						<label class="radio">
							<input type="radio" name="lax" value="no" checked> No
						</label>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="settings">
			<a href="#" id="open-settings" class="fa-stack"><i class="fa fa-cog fa-stack-2x"></i></a>
		</div>

		<div class="social">
			<a href="https://www.gittip.com/rummik/" target="_blank" class="gittip fa-stack">
				<i class="fa fa-github-square fa-stack-2x"></i>
				<i class="fa fa-gittip fa-stack-2x"></i>
			</a>
			<a href="https://twitter.com/iotasamurai" target="_blank" class="twitter fa-stack">
				<i class="fa fa-twitter-square fa-stack-2x"></i>
			</a>
			<a href="https://github.com/rummik/telepathy-web" target="_blank" class="github fa-stack">
				<i class="fa fa-github-square fa-stack-2x"></i>
			</a>
		</div>

		<script src="v{{ version }}/js/telepathy.js"></script>
	</body>
</html>
